/* public/css/login.css */

body {
    font-family: 'Inter', sans-serif;
    background-color: #1a202c; /* Fundo escuro */
    color: #e2e8f0; /* Texto claro */
}
.login-container {
    max-width: 400px;
}

/* Título de Login */
.login-container h2 {
    color: #fcd34d; /* Amarelo da logo */
}

/* Botão de Entrar */
.login-container button[type="submit"] {
    background-color: #fcd34d; /* Amarelo da logo */
    color: #1a202c; /* Texto escuro para contraste */
}

.login-container button[type="submit"]:hover {
    background-color: #e0b32f; /* Um tom um pouco mais escuro de amarelo para o hover */
}

/* Link de Registro */
.login-container #registerLink {
    color: #fcd34d; /* Amarelo da logo */
}

.login-container #registerLink:hover {
    text-decoration: underline;
}
